<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BlogApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex me-3 ms-auto">
          <!-- <button class="btn btn-outline-success" type="submit">
            Create Post
          </button> -->

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#createPostModal"
          >
            Create Post
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Navbar -->

  <!-- Post Details -->

  <div class="row mt-5 p-3">
    <div class="col-md-3 col-sm-12" *ngFor="let post of allPosts">
      <div class="card m-2" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title">{{ post?.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post?.username }}</h6>
          <p class="card-text">
            {{ post?.content }}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div
            class="btn btn-outline-success"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#editPostModal"
            (click)="editPost(post)"
          >
            Edit
          </div>
          <div class="btn btn-outline-danger" (click)="deletePostById(post)">
            Delete
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button Create modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="createPostModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModal">Publish New Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="createPost()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="title"
              name="title"
              id="title"
            />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Author</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="username"
              name="username"
              id="username"
            />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="content"
              name="content"
              id="content"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #closeModalbutton
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save Post</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Post Modal -->

<div
  class="modal fade"
  id="editPostModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editPostModal">Edit Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="updatePost()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="title"
              name="title"
              id="title"
            />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Author</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="username"
              name="username"
              id="username"
            />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="content"
              name="content"
              id="content"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #closeEditModalbutton
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
